[Unit]
Description=MGA Soap Calculator API
After=network-online.target mga-postgres.service
Requires=mga-postgres.service

[Container]
Image=localhost/mga-soap-calculator:latest
ContainerName=mga-api
Network=mga-network.network
EnvironmentFile=/etc/mga-calculator/env.production
PublishPort=8000:8000
Volume=mga-logs:/var/log/mga:Z
SecurityLabelType=container_runtime_t

[Service]
Restart=always
TimeoutStartSec=60
RestartSec=10

[Install]
WantedBy=default.target
