@charset "utf-8";
/* CSS Document */
#tblScaleQ{text-align:right;font-size:9px;width:30px;margin-bottom:20px;height:200px;} 
#bargraphQ{font:.6em/2em Arial;color:#000;width:658px;border-bottom-color:#000;border-bottom-style:solid;border-bottom-width:thin;} 
#bargraphQ td{width:131px;height:200px;vertical-align:bottom;text-align:left;background:#FFF url(http://www.SoapCalc.net/images/gridline.gif) 15px bottom;margin:0;padding:0 0 0 28px;} 
#LabelsQ td{background:#FFFFCA;width:131px;text-align:center;margin:0;padding:0;} 
#bargraphFA{font:.6em/2em Arial;color:#000;border-bottom-color:#000;border-bottom-style:solid;border-bottom-width:thin;width:658px;} 
#bargraphFA td{width:82px;height:200px;vertical-align:bottom;text-align:left;background:#FFF url(http://www.SoapCalc.net/images/gridline.gif) 15px bottom;margin:0;padding:0 0 0 2px;} 
#LabelsFA td{background:#FFFFCA;width:82px;text-align:center;margin:0;padding:0;} 
#tblScaleFA{text-align:right;font-size:9px;width:30px;margin-bottom:20px;height:200px;} 
#divChartQ,#divChartFA{vertical-align:top;padding-top:20px;text-align:left;} 
#LabelsQ,#LabelsFA{width:658px;font-size:11px;} 
#bargraphQ img,#bargraphFA img{display:block;}